.cta {
  background-color: #f5f7fa; 
  padding: 60px 20px; 
  text-align: center;
  border-radius: 12px; 
}


.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 5px; 
  color: #263238;
}


.cta .btn.primary {
  display: inline-block;
  padding: 12px 28px;
  font-size: 1rem;
  color: #fff;
  background-color: #4caf4f;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  margin-top: 24px; 
}

.cta .btn.primary:hover {
  background-color: #2e7530;
}
