
.test-grid {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}


.test-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
}

.test-text {
  flex: 1;
}


.description {
  font-size: 0.9rem; 
  white-space: pre-line; 
  line-height: 1.6;
  margin-bottom: 12px;
}


/* ชื่อ */
.test-text h4 {
  color: #3b9631; 
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.5rem;
}



.sub {
  font-weight: 500;
  color: #555;
  margin-top: 15px;  
  margin-bottom: 15px; 
}


.logo-row-container {
  display: flex;
  align-items: center;
  gap: 26px;
  flex-wrap: wrap;
  margin-top: 16px;
  justify-content: space-between;
}

.logo-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.logo-box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.meet-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  color: #3b9631;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

.meet-btn:hover {
  color: #2e7530;
}

.arrow {
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .test-grid {
    flex-direction: column;
    align-items: center;
  }

  .logo-row-container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .meet-btn {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .test-image img {
    max-width: 100%;
  }

  .test-text {
    width: 100%;
  }
}
